$datalist-width: 30%;
.custom-datalist {
  &-open {
    & > div.input-group > .form-control,
    & > div.input-group > .input-group-text {
      border-radius: 0.25rem 0.25rem 0 0;
    }
    width: $datalist-width + 29.6%;
  }

  .datalist {
    width: $datalist-width;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    color: $white;
    padding: 0 0.5em;
    z-index: 1;
    span.item {
      width: 30%;
      margin: 0.5em;
      text-align: center;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.datalist-close {
  display: none !important;
}
