.datalist-container {
  z-index: 100;
  width: 50vw;
  @media screen and (max-width: 1440px) {
    width: 89vw;
  }
  @media screen and (max-width: 375px) {
    width: 100vw;
  }
}
.custom-datalist {
  z-index: inherit;
  &-open {
    & > div.input-group > .form-control,
    & > div.input-group > .input-group-text {
      border-radius: 0.25rem 0.25rem 0 0;
    }
    width: 30vw;
    @media screen and (max-width: 1440px) {
      width: 40vw;
    }
    @media screen and (max-width: 1024px) {
      width: 90vw;
    }
    @media screen and (max-width: 375px) {
      width: 100vw;
    }
  }

  ul.datalist {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 0.5em 1.5em;
    border-radius: 0px 0px 5px 5px;
    li {
      display: inline;
      list-style: none;
      color: $white;
      width: 30%;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.datalist-close {
  display: none !important;
}
