.placeholder-white::placeholder {
  color: $white;
}

.bg-orange {
  background-color: $orange;
}

.lpp-primary {
  color: $primary-logo-text;
}

.bg-green {
  background-color: $green;
}

.hide {
  display: none;
}
