.placeholder-white::placeholder {
  color: $white;
}

.bg-orange {
  background-color: $orange;
}

.lpp-primary {
  color: $primary-logo-text;
}

.bg-green {
  background-color: $green;
}

.hide {
  display: none;
}

.input-group {
  .form-control.bg-green {
    &:focus {
      background-color: $green;
    }
  }

  .form-control.bg-orange {
    &:focus {
      background-color: $orange;
    }
  }
}
