@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}
.lpp-primary {
  color: #d04f4f;
}

.select select::placeholder,
.textarea::placeholder,
.input::placeholder {
  color: $grey-dark;
}

.input {
  border-color: $white-ter;
}

main > .section.card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
