$primary-color: #d04f4f; 

// Import Default
@import './base/default';

// Import Component
@import './components/card';

.lpp-primary {
  color: $primary-color;
}

.select select::placeholder,
.textarea::placeholder,
.input::placeholder {
  color: $grey-dark;
}

.input {
  border-color: $white-ter;
}

main > .section.card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


